body {
    background-color: rgb(173, 215, 235);
    text-align: center;
}
#container {
    margin-left: auto;
    margin-right: auto;
    background: rgb(6, 63, 73);
    border-radius: 10px;
    width: 70%;
}

h1 {
    font-size: 400%;
    color: white;
    font-style: oblique;
}

#scadenza {
    height: 50px;
    margin-left: 5px;
    font-size: x-large;
    border-radius: 7px;
    border-style: hidden;
    width: 15%;
    margin-bottom: 10px;
    margin-top: 10px;
}

#descrizione {
    background-color: white;
    height: 50px;
    margin-top: 10px;
    font-size: x-large;
    border-radius: 7px;
    border-style: hidden;
    width: 25%;
    margin-bottom: 10px;
    width: 50%;
}

#aggiungi {
    height: 50px;
    font-size: x-large;
    border-radius: 7px;
    border-style: hidden;
    background-color: green;
    margin-left: 10px;
}

#elimina {
    background-color: rgb(173, 30, 30);
    height: 50px;
    font-size: x-large;
    border-radius: 7px;
    border-style: hidden;
    margin-left: 10px;
    margin-top: 10px;
}

#modifica {
    background-color: dodgerblue;
    height: 50px;
    font-size: x-large;
    border-radius: 7px;
    border-style: hidden;
    margin-left: 10px;
    margin-top: 10px;
}

#todoList {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#ordina{
    margin-left: 20px;
}
#filtri {
    text-align: left;
    color: white;
    margin-left: 40px;
    border-bottom: 1px solid white;
    margin-top: -20px;
    font-size: 20px;
    padding-bottom: 5px;
}
#check{
    width: 45px;
    height: 45px;
    vertical-align: middle;
    margin-top: -5px;
}

  