body{
    text-align: center;
}
h1{
    font-size: 300%;
    font-style: oblique;
}

#campo {
	width: 500px;
	height: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 5px  solid black ;
}
.cella {
    border: 4px outset #dfdede;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #bebebe;
	margin: 1px;
}
.cella:hover {
	background-color: #919191;
}